<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="robot_namespace" default="sos1"/>
  <include file="$(find husky_gazebo)/launch/playpen.launch" />

  <include file="$(find husky_gazebo)/launch/myspawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
</include>


<include file="$(find husky_gazebo)/launch/myspawn_husky.launch">
  <arg name="laser_enabled" value="$(arg laser_enabled)"/>
  <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  <arg name="robot_namespace" value="sos2"/>
  <arg name="x" value="5"/>
  <arg name="y" value="5"/>
</include>
</launch>
